<div>
    <form class="blogpost-form">
        <label for="title">title</label><br>
        <input type="text" id="blogpost-title" name="blogpost-title"><br>
        <label for="blogpost-body">enter your blog post here</label><br>
        <input type="text" id="blogpost-body" name="blogpost-body">

        {{!-- <label for="username"></label><br>
        <input type="text" id="username" name="username">
        <label for="userID"></label><br>
        <input type="userID" id="userID" name="userID"> --}}


        <input id="submit-post" type="submit" value="submit">
    </form>
</div>

<script src="./js/blogpost.js"></script>