<div>
    <form class="blogpost-post">
        <label for="title">title</label><br>
        <input type="text" id="blogpost-title" name="blogpost-title"><br>
        <label for="blogpost-body">enter your blog post here</label><br>
        <input type="text" id="blogpost-body" name="blogpost-body">
        <input type="submit" value="submit">
    </form>
</div>

<script src="./js/blogpost.js"></script>