<div> hi
{{#if startNewBlogpostClicked}}
    <div>
        {{>blogpost-form}}
    </div>
{{else}}
    <div>
        {{>startNewBlogpost-button}}
    </div>
{{#if}}
</div>

<script src="./js/blogpost.js"></script>