<div> hi
{{#if startNewBlogpostClicked}} //why isnt this showing up?
    <div>
        {{>blogpost-form}}
    </div>
{{else}}
    <div>
        {{>startNewBlogpost-button}}
    </div>
{{/if}}
</div>

<script src="./js/blogpost.js"></script>