<div>
    <div class="blogpost-form invisible">
        {{>blogpost-form}}
    </div>

    <div class="startNewBlogpost">
        {{>startNewBlogpost-button}}
    </div>

</div>

<script src="./js/blogpost.js"></script>
