<div>
    <p>login</p>
    <form>
        <label for="username">username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">password</label><br>
        <input type="text" id="password" name="password">
        <input type="submit" value="submit">
    </form>
    <a href="/signup">Sign up instead</a>
</div>